@font-face {
	font-family: 'Bagel Fat One';
	font-weight: 600;
	font-style: normal;
	src: url('../../assets/fonts/BagelFatOne-Regular.ttf') format('truetype');
}

.nav_container {
	display: flex;
	justify-content: center;
	align-items: center;

	h1 {
		color: green;
		font-family: 'Bagel Fat One';
		font-size: 2rem;
	}
}
