.outer_frame {
	/* 
		Only for debugging the frame should 
		the selector below be uncommented.
	*/
	// > div {
	// 	border: 1px solid red;
	// }

	/*
		It's important to note that any direct 
		divs/frames embedded within this frame 
		should be set to relative; so that the
		elements nest appropriately
	*/

	.top_nav_frame {
		position: absolute;
		top: 10px;
		bottom: 90%;
		right: 10px;
		left: 10px;
		// background-image: linear-gradient(40deg, orange, rgb(17, 223, 17));
		background-color: #1b8381;
		border-top-left-radius: 1rem;
		border-top-right-radius: 1rem;
	}

	.centered_frame {
		overflow: scroll;
		position: absolute;
		top: 10%;
		bottom: 10%;
		right: 10px;
		left: 10px;
	}

	.bottom_frame {
		position: absolute;
		top: 90%;
		bottom: 10px;
		right: 10px;
		left: 10px;
		background-color: #1b8381;
		// background-image: linear-gradient(40deg, orange, rgb(17, 223, 17));
		border-bottom-left-radius: 1rem;
		border-bottom-right-radius: 1rem;
	}
}
