.login_container {
	width: 100%;
	display: flex;
	justify-content: center;
}

.errors {
	color: red;
	font-weight: 600;
}

.form_group {
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.form_control {
	width: 270px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-top: 1rem;
	input {
		margin-top: 0.5rem;
		padding: 0.5rem;
		// width: 100%;
	}
}

.submit {
	width: 100%;
	background-color: rgb(89, 189, 89);
	color: #fff;
	padding: 0.5rem;
	margin-top: 0.5rem;

	&:hover {
		background-color: rgb(148, 238, 148);
		color: #000;
	}
}
